/* Your css goes here */
body {
    color: #414141;
}

.colortext {
    color: red;
}

.with-border {
    border: solid 1px; 
    color: blue;
    padding: 5px;
}

.primary-button {
    border-radius: 7px;
    padding: 1em;
    background-color: blue;
    font-size: 24px; 
    color: white;
}

.m-p {
    margin: 2em 1em;
    padding: 10px;
    text-align: center;
}

.avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid #d3d3d3
}

h1 {
    text-transform: uppercase;
    text-decoration: underline;
}

